.wishlist {
  background: #5c2a35;
}

.wishlist main,
.wishlist header {
  color: #fff;
}

.wishlist__section {
  padding-top: 0;
}

.wishlist__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.wishlist__gift-text {
  text-align: center;
}

.wishlist__item {
  margin-top: 15px;
  display: grid;
  gap: 15px;
}

.wishlist__images {
  display: flex;
  justify-content: center;
}

.wishlist__title {
  font-size: 28px;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.wishlist__link {
  margin-top: 35px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wishlist__section {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .wishlist__section {
    padding-top: 80px;
  }
  .wishlist__gift {
    gap: 35px;
  }
  .wishlist__item {
    margin-top: 35px;
    grid-template-columns: repeat(2, 1fr);
  }
  .wishlist__item.first {
    align-items: center;
  }
  .wishlist__item.second .wishlist__images {
    order: 1;
    flex-wrap: wrap;
  }

  .wishlist__picture--100w {
    display: block;
    width: 100%;
    padding-left: 30%;
  }
  .wishlist__item.second .wishlist__content {
    display: grid;
    justify-content: end;
    align-items: center;
  }
  .wishlist__title {
    text-align: left;
  }
  .wishlist__text {
    padding-left: 10px;
    max-width: 380px;
  }
  .wishlist__item.second .wishlist__text {
    max-width: 300px;
  }
  .wishlist__link {
    margin-top: 80px;
  }
}
.image_2d1170e5-e92f-41b1-9f4a-ebb96b095029 {
    background-repeat: no-repeat;      /* не повторять */
    background-size: cover;            /* растянуть пропорционально */
    background-position: center center;/* выровнять по центру */
    width: 100%;                       /* растянуть на всю ширину родителя */
    height: 100%;                      /* задать высоту (или через min-height) */
  }